include README.md
include LICENSE.txt
include pylion.h
include pylion.cpp
include pylion.i
include pylion_wrap.cxx
recursive-include function *.cpp *.h
recursive-include libRSO *.cpp *.h
global-exclude *.o *.a *.so *.dylib *.dll *.pyc
global-exclude lion.h lion.cpp
global-exclude __pycache__
global-exclude Makefile
global-exclude test
global-exclude venv test_venv
global-exclude build cbuild
global-exclude CMakeLists.txt
