include README.md
include LICENSE.txt
include io_shaker.h
include io_shaker.cpp
include io_shaker.i
include io_shaker_wrap.cxx
recursive-include function *.cpp *.h
recursive-include libRSO *.cpp *.h
global-exclude *.o *.a *.so *.dylib *.dll *.pyc
global-exclude c_io_shaker.h c_io_shaker.cpp
global-exclude __pycache__
global-exclude Makefile
global-exclude test
global-exclude venv test_venv
global-exclude build cbuild
global-exclude CMakeLists.txt
